<div>
    <h2 style="text-align:center">Welcome to Admin Panel</h2><br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <h4>Product CRUD</h4><br>
                <button type="button" (click)="gotoProduct()">Add Product</button><br><br>
                <button type="button" (click)="deleteProduct()">Delete Product</button><br><br>
                <button type="button" (click)="updateProduct()">Update Product</button><br><br>
                <button type="button">View Requests</button><br><br>
            </div>
            <div class="col-4">
                <h4>Employee Actions</h4><br>
                <div>
                    <h6>Add Employee</h6>
                    <form [formGroup]="employeeRef" (ngSubmit)="employeeCreate()">
                        <label>First Name: </label>
                        <input type="text" formControlName="fname">
                        <br>
                        <label>Last Name: </label>
                        <input type="text" formControlName="lname">
                        <br>
                        <label>Email ID: </label>
                        <input type="email" formControlName="emailid" required>
                        <br>
                        <label>Password: </label>
                        <input type="text" formControlName="password" placeholder="welcome123" [disabled]="true"> <br>
                        <span>(it's the password you use for first login, and the system will ask you to change the
                            password)</span>
                        <br>
                        <input type="submit" value="Add New Employee">
                        <input type="reset" value="Clear">
                    </form>
                    {{addMsg}}
                </div>
                <div>
                    <h6>Delete Employee</h6>
                    <form [formGroup]="employeeDeleteRef" (ngSubmit)="employeeDelete()">
                        <label>Email ID: </label>
                        <input type="email" formControlName="emailid" required>
                        <br>
                        <input type="submit" value="Delete the Employee">
                        <input type="reset" value="Clear">
                    </form>
                    {{deleteMsg}}
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <div style=" text-align:center">
        <div>
            <h6>Generate reports</h6>
        </div>
    </div>
    <br>
    <div style=" text-align:center">
    </div>
    
</div>