<div>
    <h2 style="text-align:center">Welcome to Admin Panel</h2><br>
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-4">
            <h4>Product CRUD</h4><br>
          <button type="button">Add Product</button><br><br>
          <button type="button">Delete Product</button><br><br>
          <button type="button">Update Product</button><br><br>
          <button type="button">View Requests</button><br><br>
          </div>
          <div class="col-4">
            <h4>Employee Actions</h4><br>
            <button type="button">Add Employee</button><br><br>
            <button type="button">Delete Employee</button><br><br>
          </div>
        </div>
      </div>

      <br><br>
    <div style=" text-align:center">
        <button type="button">Generate Reports</button>
    </div>
    <br>
    <div style=" text-align:center">
        <input type="button" value="Log out">
    </div>
</div>