
<div class="header1">
    <div class="title">
        <br>
        <h2>Shopping Cart</h2>
    </div>
</div>
<br>
<br>

<!-- <table class="header1">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
    <tr *ngFor="let list of shoppingCart">
      <td>{{list.name}}</td>
      <td>{{list.price}}</td>
      <td>{{list.quantity}}</td>
    </tr>
</table>

<i>Total Price</i><h4>{{finalPrice}}</h4>
<br>
<i>Total Quantity</i><h4>{{finalQty}}</h4> -->




<table mat-table [dataSource]="shoppingCart" class="mat-elevation-z8" style="width: 100%;">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
      <td mat-footer-cell *matFooterCellDef style="font-weight: bold;"> Total </td>
    </ng-container>
  
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
    </ng-container>
  
 
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element">{{element.price | currency}}</td>
    </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>
  <br>


<div style="width:140px; margin:0 auto;">
<i>Total Price: {{finalPrice}}</i>
<br>
<br>
<i>Total Quantity: {{finalQty}}</i>
<br>
<br>
</div>


<div style="width:140px; margin:0 auto;">

     <button type="button" class="btn btn-dark" (click)="placeOrder()">Place Order</button>
    
</div>
 
{{orderMsg}}


